@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/mixins';

.talks {
  .all-talks {
    .no-results {
      text-align: center;

      p {
        color: gray;
      }
    }

    .item-col {
      margin: 1rem 0;
      border-color: transparent;
      transition: all ease-in-out 0.5s;

      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }
    }

    .talk-item {
      height: 100%;
      position: relative;
      text-decoration: none;

      @media (min-width: 991.98px) and (max-width: 1199.98px) { height: 300px; }
      @media (min-width: 575.98px) and (max-width: 767.98px) { height: 300px; }
      @media (max-width: 399.98px) { height: 300px; }

      .top-bar {
        align-items: center;
        background: transparent;
        border-radius: 10px;
        color: #fff;
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        padding: 1rem;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
      }

      img {
        border-radius: 10px;
        width: 100%;
      }

      .overlay {
        align-items: flex-start;
        background: linear-gradient(180deg, rgba(1, 1, 1, 0) -16.5%, #010101 85%);
        color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;

        p {
          margin-bottom: .5rem;

          &.name-date {
            @include subtitle;
            text-transform: uppercase;
          }

          &.topic {
            @include headline-2-medium;
            // @media (min-width: 767.98px) {
              // font-size: 1.25rem;
            // }
          }
        }
      }
    }
  }
}
