@import '../../styles/colors';

.about {
  .about-list {
    background-color: $bg-f5;

    @media (max-width: 767.98px) { padding: 0; }

    #aboutAccordion {
      .a-card {
        border: none;
        margin: 1rem auto;

        .about-card-header {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;

          .action-icon {
            transition: all .5s;
          }

          &.is-open {
            .action-icon {
              transition: all .5s;
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }

        .about-card-body {
          padding: 1rem;
        }
      }

      @media (min-width: 767.98px) {
        display: none;
      }
    }

    #aboutRow {
      @media (max-width: 767.98px) {
        display: none;
      }
    }

    .about-item {
      margin-bottom: 1rem;

      .details {
        .about-title {
          color: #000;
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }
  }

  .team-list {
    .team-item {
      margin-bottom: 1rem;

      &:not(.intro) {
        transition: all ease-in-out 0.5s;

        &:hover {
          cursor: pointer;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
        }
      }

      .details {
        position: relative;

        &.default-image {
          background-color: #ced0ce;
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          height: 380px;
          overflow: hidden;
          width: 100%;

          @media (min-width: 1699.98px) { height: 520px; }
          @media (max-width: 767.98px) { height: 400px; }
          @media (max-width: 575.98px) { height: 380px; }
        }

        .team-title {
          color: #000;
          font-size: 1.25rem;
          font-weight: 500;
        }

        .person-image {
          border-radius: 10px;
          opacity: 0;
          width: 100%;
          transition: all ease 1s;

          &.fade-in {
            opacity: 1;
          }
        }

        .overlay {
          background: linear-gradient(178.21deg, rgba(16, 16, 16, 0) 10.98%, #101010 99.98%);
          border-radius: 10px;
          color: #fff;
          padding: 3rem 1rem 1rem;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          p {
            margin: 0;
          }

          .item-name {
            font-size: 1.25rem;
          }

          .item-role {
            font-size: .875rem;
          }
        }
      }
    }
  }
}
