.watch {
  .sorts-and-filters {
    .row .col-md-4 {
      margin: .5rem auto;
    }

    .watch-sort-by {
      @media (min-width: 767.98px) {
        display: flex;
        justify-content: flex-end;
      }
    }

    .form-control.search-input-control {
      background: #F5F5F5;
      border: 0.5px solid rgba(16, 16, 16, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      height: 40px;
      padding: .375rem .75rem;
      transition: all ease-in-out 0.25s;

      &:hover {
        border-color: #565656;
        transition: all ease-in-out 0.25s;
      }

      &:focus {
        border-color: #565656;
        box-shadow: none;
      }
    }
  }

  .filter-years {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .year-item {
      &:hover {
        cursor: pointer;
      }

      .year-text {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 300;
        margin-bottom: 17px;
        margin-top: 20px;

        &.active {
          color: rgba(0, 0, 0, 0.75);
          font-weight: 500;
        }
      }

      .active-year-bar {
        background: rgba(0, 0, 0, 0.75);
        border-radius: 1.5px;
        height: 3px;
        margin: 0 auto;
        width: 40px;
      }
    }
  }
}
