@import '../../styles/colors';
@import '../../styles/typography';

.loading-dots {
  display: flex;
  justify-content: center;
}

.paginate {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;

  .main {
    align-items: center;
    background: rgba(#474350, 0.3);
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 7px 18px;

    .page {
      @include button;
      border-radius: 5px;
      margin: 0 5px;
      padding: 4px 10px;
      transition: all ease-in-out 0.25s;

      &:not(.dots):hover {
        background: rgba(#474350, 0.4);
        cursor: pointer;
      }

      &.current {
        background-color: $primary;
      }
    }
  }

  .ctrl {
    align-items: center;
    background: rgba(#474350, 0.3);
    border: none;
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    transition: all ease-in-out 0.25s;

    &:not(:disabled):hover {
      background: rgba(#474350, 0.5);
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      i {
        color: #fff !important;
      }
    }
  }
}
