@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/mixins';

// SEARCH AND FILTERS MODULE
.sorts-and-filters {
  background-color: $primary;
  color: $white;
  padding-bottom: .5rem !important;
  padding-top: .5rem !important;

  .row .columns {
    @media (min-width: 767.98px) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .category,
      .years {
        flex-grow: 1;
      }

      .search {
        flex-grow: 2;
      }
    }
  }

  .row .columns {
    .category,
    .years,
    .search {
      margin: 2rem auto;
    }
  }

  .form-control.search-input-control {
    @include input-form-control;
  }

  .is-searching {
    color: #0a0a0a;
    display: block;
    margin: 10px auto 0;
  }
}
