$primary: #e62b1f;

.event {
  .event-banner {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    position: relative;

    .overlay {
      background: rgba(0,0,0,.6);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .banner-content {
      color: white;
      margin: 6rem auto;
      text-align: center;

      h3 {
        font-weight: bold;
        letter-spacing: .5rem;
      }

      .date {
        font-size: .75rem;
      }
    }
  }

  .event-content {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    .summary {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    .description {
      line-height: 1.8;
    }

    .venue {
      font-size: 1.25rem;
      margin-bottom: 2rem;
      text-decoration: underline;
    }
  }
}
