@import '../../styles/colors';
@import '../../styles/typography';

.event {
  .loading-text {
    @include headline-1;
    margin: 0 auto;
  }

  .e-page-title {
    font-weight: 500;
    text-transform: uppercase;
  }

  .header-section {
    padding-bottom: 0;
    padding-top: 3rem;
    @media (max-width: 767.98px) { padding-bottom:1rem;padding-top:1rem; }

    .details-wrapper {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      color: #fff;
      padding: 5rem .5rem;
      position: relative;
      text-align: center;
      overflow: hidden;

      .left-x,
      .right-x {
        bottom: 0;
        position: absolute;
        top: 0;

        svg {
          height: 100%;
          width: 100%;
        }
      }

      .left-x {
        left: -60px;
        transform: rotateY(180deg);
      }

      .right-x {
        right: -60px;
      }

      .overlay {
        background-color: rgba($dark-bg, .4);
        border-radius: 15px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }

      .details {
        z-index: 5;

        .event-title {
          @include headline-1;
          font-weight: 500;
        }
  
        .event-category,
        .event-datetime {
          color: $gray-text;
        }
      }
    }
  }

  .event-section-one {
    .e-speakers {
      margin-top: 4rem;

      .speakers-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        .speaker-details {
          cursor: pointer;
          margin-bottom: 2rem;
          margin-right: 2rem;
          text-align: center;
          transition: all ease-in-out .5s;

          &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }

          .speaker-image {
            background-color: #c4c4c4;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50px;
            height: 100px;
            margin: 0 auto 10px;
            width: 100px;

            img {
              border-radius: 50px;
              width: 100%;
            }
          }
        }

        .speaker-name {
          @include subtitle;
        }
      }
    }

    .e-share {
      margin-top: 4rem;

      .icons {
        align-items: center;
        display: flex;

        .share {
          margin-left: .6rem;
        }
      }
    }

    .e-date-location {
      margin-top: 4rem;

      .use-lara {
        align-items: center;
        display: flex;

        svg {
          margin-right: 1rem;
        }

        a {
          color: inherit;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
