.event {
  .e-page-title {
    font-size: 1.3rem;
  }

  .event-section-one {
    .e-title-cat {
      background: #101010;
      border-radius: 15px;
      color: #fff;
      padding: 5.5rem .5rem;
      text-align: center;

      .event-title {
        font-size: 5rem;
        font-weight: bold;
        margin: 0 auto;

        @media (max-width: 991.98px) { font-size: 4rem; }
        @media (max-width: 767.98px) { font-size: 3rem; }
        @media (max-width: 575.98px) { font-size: 2rem; }
      }

      .event-category {
        color: #ebebeb;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0 auto;

        @media (max-width: 767.98px) { font-size: 1rem; }
      }
    }

    .e-date {
      .month {
        font-size: 1.12rem;
        margin: 0;
        text-transform: uppercase;
      }

      .day {
        font-size: 2rem;
        margin: 0;
      }
    }

    .e-title {
      margin-top: 2.5rem;

      h3 {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 2rem;
      }

      .e-labels {
        span {
          background: #f2f2f2;
          border-radius: 4px;
          font-size: .875rem;
          margin-right: .5rem;
          padding: 8px 10px;

          &.free {
            background: rgba(19, 154, 67, 0.15);
            color: #139a43;
          }

          &.tedxy {
            background: rgba(41, 120, 160, 0.15);
            color: #2978a0;
          }

          &.categ {
            background: rgba(97, 3, 69, 0.15);
            color: #610345;
          }
        }
      }
    }
  }

  .row-divider {
    padding-bottom: 0;
    padding-top: 0;

    hr {
      border-color: rgba(0,0,0,0.15);
    }
  }

  .event-section-two {
    .e-share {
      .icons {
        align-items: center;
        display: flex;

        .share {
          margin-left: .6rem;
        }
      }
    }

    .e-date-location {
      .use-lara {
        align-items: center;
        display: flex;

        svg {
          margin-right: 1rem;
        }

        a {
          color: inherit;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
