@import '../../styles/colors';
@import '../../styles/typography';

.event {
  .e-page-title {
    font-weight: 500;
    text-transform: uppercase;
  }

  .header-section {
    padding-bottom: 0;
    padding-top: 3rem;

    @media (max-width: 767.98px) {
      display: none;
      padding-bottom:1rem;
      padding-top:1rem;
    }

    .details-wrapper {
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      color: #fff;
      padding: 5rem .5rem;
      position: relative;
      text-align: center;
      overflow: hidden;

      .overlay {
        background-color: rgba($dark-bg, .6);
        border-radius: 10px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }

      .left-x,
      .right-x {
        bottom: 0;
        position: absolute;
        top: 0;
        z-index: 1;

        svg {
          height: 100%;
          width: 100%;
        }
      }

      .left-x {
        left: -60px;
        transform: rotateY(180deg);
      }

      .right-x {
        right: -60px;
      }

      .details {
        position: relative;
        z-index: 10;

        .event-title {
          @include headline-1;
          font-weight: 500;
        }
  
        .event-category,
        .event-datetime {
          color: $gray-text;
        }
      }
    }
  }

  .header-mobile-section {
    @media (min-width: 767.98px) {
      display: none;
    }

    .details-wrapper {
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      padding: 5rem .5rem;
      position: relative;
      text-align: center;
      overflow: hidden;

      .right-x {
        position: absolute;
        bottom: 0;
        right: -110px;
        top: 0;
        z-index: 0;

        svg {
          height: 100%;
          width: 100%;
        }
      }

      .overlay {
        background-color: rgba($dark-bg, .6);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }

      .details {
        position: relative;
        z-index: 10;

        .event-title {
          @include headline-1;
          font-weight: 500;
        }
  
        .event-category,
        .event-datetime {
          color: $gray-text;
        }
      }
    }
  }

  .event-cta {
    background: #fff;
    box-shadow: 0px -10px 10px rgba(56, 56, 56, 0.1);
    backdrop-filter: blur(5px);
    bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: fixed;
    z-index: 100;

    .cta-row {
      text-align: center;

      .cta-title {
        p { margin: 0; }

        .cta-date {
          @include subtitle;
          margin-bottom: 8px;
        }

        .cta-title-text {
          @include headline-2-medium;
        }
      }

      .cta-button {
        margin-top: 1.25rem;
      }

      @media (min-width: 767.98px) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-align: inherit;

        .cta-button {
          margin-top: 0;
        }
      }
    }
  }

  .event-section {
    .e-speakers {
      margin-top: 4rem;

      .speakers-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        .speaker-details {
          cursor: pointer;
          margin-bottom: 2rem;
          margin-right: 2rem;
          text-align: center;
          transition: all ease-in-out .5s;

          &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }

          .speaker-image {
            background-color: #ced0ce;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50px;
            height: 100px;
            margin: 0 auto 10px;
            width: 100px;

            img {
              border-radius: 50px;
              width: 100%;
            }
          }
        }

        .speaker-name {
          @include subtitle;
        }
      }
    }

    .e-event-talks {
      margin-top: 4rem;

      .event-talks-list {
        .col-lg-6 {
          margin: 1rem 0;
          transition: all ease-in-out 0.5s;

          &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }
        }

        .talk-item {
          position: relative;
          text-decoration: none;

          .top-bar {
            align-items: center;
            background: transparent;
            border-radius: 10px;
            color: #fff;
            display: flex;
            font-weight: 500;
            justify-content: space-between;
            padding: 1rem;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
          }

          img {
            border-radius: 10px;
            width: 100%;
          }

          .overlay {
            align-items: flex-start;
            background: rgba(26, 26, 26, 0.5);
            backdrop-filter: blur(4px);
            color: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

            p {
              margin-bottom: .5rem;

              &.name-date {
                @include subtitle;
                text-transform: uppercase;
              }

              &.topic {
                @include headline-2-medium;
              }
            }
          }
        }
      }
    }

    .e-partners {
      margin-top: 4rem;

      .partners-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        .partner-details {
          cursor: pointer;
          margin-bottom: 2rem;
          margin-right: 2rem;
          text-align: center;
          transition: all ease-in-out .5s;

          &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }

          .partner-image {
            background-color: #ffffff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50px;
            box-shadow: 2px 4px 10px rgba(158, 170, 191, 0.15);
            height: 100px;
            margin: 0 auto 10px;
            width: 100px;

            img {
              border-radius: 50px;
              width: 100%;
            }
          }
        }

        .partner-name {
          @include subtitle;
        }
      }
    }

    .e-share {
      margin-top: 4rem;

      .icons {
        align-items: center;
        display: flex;

        .share {
          margin-left: .6rem;
        }
      }
    }

    .e-date-time {
      margin-bottom: 4rem;

      .spacer {
        display: none;
      }

      @media (max-width: 767.98px) {
        text-align: center;

        .e-dt-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .spacer {
            display: inherit;
          }
        }
      }
    }

    .e-location {
      .use-lara {
        align-items: center;
        display: flex;

        svg {
          margin-right: 1rem;
        }

        a {
          color: inherit;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      @media (max-width: 767.98px) {
        text-align: center;

        .e-loc-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
    }
  }
}
