$primary: #af0000;
$primary-text: #474350;
$gray-text: #ced0cd;

$white: #fff;
$black: #000;

$success: #8aea92;
$danger: #e85f5c;

$input-bg: #f5f5f5;
$input-text: $primary-text;

$header-bg: #474350;
$bg-f5: #f5f5f5;

$dark-bg: #101010;
$overlay: #0a0a0a;
