// HOME TALKS SECTION

section.home-events {
  background: #101010;
  margin-left: -15px;
  margin-right: -15px;

  header {
    .main {
      color: #fff;
      margin: 3rem auto;
      text-align: center;

      .main-title {
        font-size: 5rem;
        font-weight: bold;
        margin: 0 auto;

        @media (max-width: 991.98px) { font-size: 4rem; }
        @media (max-width: 767.98px) { font-size: 3rem; }
        @media (max-width: 575.98px) { font-size: 2rem; }
      }

      .main-category {
        color: #ebebeb;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0 auto;

        @media (max-width: 767.98px) { font-size: 1rem; }
      }
    }
  }

  .events-list {
    .list-head {
      margin-bottom: 5px;

      p {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        color: #ebebeb;
        margin: 0 auto;
        text-transform: uppercase;
      }
    }

    .event-item {
      margin-bottom: 1rem;
      transition: all ease-in-out 0.25s;

      &:hover {
        cursor: pointer;
        opacity: .6;
        transition: all ease-in-out 0.25s;
      }

      a:hover {
        text-decoration: none;
      }

      .event-details {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 10px;
        color: #fff;
        padding: 3rem .5rem;
        text-align: center;

        &.active {
          background: #1a1a1a;
        }

        p {
          margin: 0 auto;
        }

        .event-title {
          font-size: 1.25rem;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
        }

        .event-category {
          font-size: .625rem;
          font-weight: 300;
        }

        &.more-events {
          align-items: center;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 10px;
          color: #fff;
          display: flex;
          height: 100%;
          justify-content: center;
          padding: 10px;
          transition: all ease-in-out 0.25s;

          &:hover {
            background: rgba(0,0,0,0.6);
            transition: all ease-in-out 0.25s;
          }

          p {
            margin: 0;

            @media (max-width: 767.98px) { font-size: .86rem; }
          }
        }
      }
    }
  }
}
