@import '../../styles/colors';
@import '../../styles/typography';

// TALKS PLAYER SECTION

section.talks-player {
  background-color: $bg-f5;
  .content {
    .main-talk {
      margin-top: 2rem;
      position: relative;

      .right-highlight {
        @include subtitle-medium;
        background: $primary;
        border-radius: 4px;
        color: $white;
        padding: 0.625rem 1.25rem;
        position: absolute;
        right: 0;
        top: -15px;
        width: 200px;
        z-index: 1;

        @media (max-width: 767.98px) { width: auto; }
      }

      .talk-col {
        position: relative;
        z-index: 0;

        .video-embedded {
          background-color: $dark-bg;
          border-radius: 10px;
        }

        .title-and-date {
          background: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(4px);
          border-radius: 10px;
          color: #fff;
          padding: 1rem 1.5rem;
          position: absolute;
          bottom: 7px;
          left: 0;
          right: 0;

          .name-date {
            @include subtitle;
            color: $gray-text;
            margin: 0;
            margin-bottom: 5px;
          }

          .title {
            @include headline-2;
          }
        }

        .next-icon,
        .prev-icon {
          background-color: #fff;
          padding: 5px 10px;
          position: absolute;
          top: 46%;
          transition: all ease-in-out 0.25s;
          z-index: 200;

          &:hover {
            cursor: pointer;
            transition: all ease-in-out 0.25s;

            i {
              color: #000 !important;
              transition: all ease-in-out 0.25s;
            }
          }
        }

        .prev-icon {
          left: 0px;
        }

        .next-icon {
          right: 0px;
        }
      }

      .talks-list-dots {
        display: flex;

        @media (min-width: 767.98px) { display: none; }

        .talk-dot {
          background-color: #fff;
          border-radius: 5px;
          height: 10px;
          margin-right: 10px;
          width: 10px;

          &.active {
            background-color: $primary;
          }
        }
      }
    }

    .talks-list {
      @media (max-width: 767.98px) { display: none; }

      .talk-item {
        border-color: transparent;
        margin-bottom: 1rem;
        transition: all ease-in-out 0.25s;

        &:hover {
          border: 2px dotted transparent;
          cursor: pointer;
          transition: all ease-in-out 0.25s;
        }

        a:hover {
          text-decoration: none;
        }

        .talk-details {
          position: relative;

          img {
            border-radius: 10px;
            width: 100%;
          }

          .overlay {
            background: rgba(0,0,0,0.6);
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }

          &.more-talks {
            align-items: center;
            background: rgba(0,0,0,0.6);
            border-radius: 10px;
            color: #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 10px;
            transition: all ease-in-out 0.25s;

            &:hover {
              background: rgba(0,0,0,0.9);
              transition: all ease-in-out 0.25s;
            }

            p {
              margin: 0;

              @media (max-width: 767.98px) { font-size: .86rem; }
            }
          }
        }
      }
    }
  }
}
