$primary: #e62b1f;

.subscribe {
  background-attachment: fixed;
  background-color: #f7f7f7; //#001722;
  background-image: url(./../../assets/images/shapes-bg.png);
  background-size: cover;

  h4 {
    // color: #efefef;
  }
}
