.sortby {
  align-items: center;
  display: flex;

  p {
    margin: 0;
    margin-right: 10px;
  }

  .sortby-select {
    width: 200px;

    .sortby__control {
      background: #000;
      border-color: #000;
      color: #fff;

      &:hover,
      &.sortby__control--is-focused {
        border: 1px dotted #000;
        box-shadow: none;
      }

      .sortby__placeholder {
        color: #aaa;
      }

      .sortby__single-value {
        color: #fff;
      }
    }

    .sortby__menu {
      .sortby__menu-list {
        .sortby__option {
          &:hover,
          &.sortby__option--is-focused {
            background: #efefef;
          }

          &.sortby__option--is-selected {
            background: #000;
            color: #fff;
          }
        }
      }
    }
  }
}
