.page-header {
  background: #101010;
  color: #fff;
  text-align: center;

  .title {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .sub-title {
    font-size: 1.25rem;
  }
}
