$primary: #e62b1f;

.join {
  background-attachment: fixed;
  background-color: #f7f7f7;
  background-image: url(./../../assets/images/shapes-bg.png);
  background-size: cover;
  border-top: 2px solid $primary;
  box-shadow: 0 -3px 20px rgba($primary,.15);
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  @media (max-width: 400px) {
    .btn-register span {
      font-size: .75rem;
    }
  }
}
