.sub-section {
  margin: 50px auto 10px;

  @media (max-width: 575.98px) {
    margin: 20px auto;
  }

  h5.sub-section-title {
    letter-spacing: 1px;
    text-align: center;
  }

  hr {
    border-top: 1px solid rgba(0,0,0,.3);
    margin-bottom: 2rem;
    width: 80px
  }

  .venue {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .date-time {
    p {
      font-size: 1.25rem;
      text-align: center;
    }
  }
}

.sub-section.venue-section{
  text-align: center;
}
