$primary: #e62b1f;

.previous-events {
  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .card {
    border-color: transparent;
    border-radius: .25rem;
    box-shadow: 0 5px 10px rgba(0,40,130,.15);
    transition: all .25s ease-in-out;

    &:hover {
      cursor: pointer;
      border-color: rgba($primary,.2);
      box-shadow: 0 5px 40px rgba(0,40,130,.25);
      transition: all .25s ease-in-out;
    }
  }
}
