@import '../../styles/colors';
@import '../../styles/typography';

// NAVBAR
.navbar {
  padding: 0 6rem;

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) { padding: 0 5rem; }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) { padding: 0 4rem; }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) { padding: .5rem 0; }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { padding: .5rem 0; }

  .app-logo {
    width: 150px;
    @media (max-width: 767.98px) { margin-left: 1rem; }

    img {
      width: 100%;
    }
  }

  &.navbar-dark {
    background-color: #000000;

    .navbar-toggler {
      border-color: transparent;
      padding: .25rem .2rem;
      @media (max-width: 767.98px) { margin-right: 1rem; }

      &:focus {
        outline: 1px dotted lighten($color: $primary, $amount: 30);
      }
    }

    .navbar-nav {
      @media (min-width: 767.98px) {
        &.links-mobile { display: none; }
      }

      @media (max-width: 767.98px) {
        border-top: 1px solid #ced0ce;
        padding: .62rem .5rem;

        &.links-desktop { display: none; }
      }

      .nav-item {
        @media (min-width: 767.98px) {
          margin-left: 1rem;
          margin-right: 1rem;

          .active-bar {
            background-color: #ffffff;
            border-radius: 1.5px;
            height: 3px;
            margin: 0 auto;

            // Make this transparent so the navbar maintain it's height on the homepage.
            &.quiet {
              background-color: transparent;
            }
          }
        }

        .nav-link {
          @include subtitle;
          color: #ffffff;
          padding: 1.4rem 0;
          text-align: center;
          text-transform: uppercase;
          transition: all .2s ease;

          @media (max-width: 767.98px) {
            @include headline-2;
            padding: .625rem 0;

            &.active {
              @include headline-2-medium;
              background-color: $primary;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
