// HOME TALKS SECTION

section.home-talks {
  .sortby {
    align-items: center;
    display: flex;

    p {
      margin: 0;
      margin-right: 10px;
    }

    .sortby-select {
      width: 200px;

      .sortby__control {
        background: #000;
        border-color: #000;
        color: #fff;

        &:hover,
        &.sortby__control--is-focused {
          border: 1px dotted #000;
          box-shadow: none;
        }

        .sortby__placeholder {
          color: #aaa;
        }

        .sortby__single-value {
          color: #fff;
        }
      }

      .sortby__menu {
        .sortby__menu-list {
          .sortby__option {
            &:hover,
            &.sortby__option--is-focused {
              background: #efefef;
            }

            &.sortby__option--is-selected {
              background: #000;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .content {
    .main-talk {
      margin-top: 2rem;
      position: relative;

      .right-highlight {
        background: #343434;
        border-radius: 4px;
        color: #fff;
        padding: 0.625rem 1.25rem;
        position: absolute;
        right: 0;
        top: -15px;
        width: 200px;
        z-index: 100;
      }

      .talk-col {
        position: relative;

        .video-embedded {
          border-radius: 10px;
        }

        .title-and-date {
          background: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(4px);
          border-radius: 10px;
          padding: 1rem 2rem;
          position: absolute;
          bottom: 7px;
          left: 0;
          right: 0;

          .date {
            color: rgba(255, 255, 255, 0.5);
            margin: 0;
            margin-bottom: 5px;
            text-transform: uppercase;
          }

          .title {
            color: #fff;
            font-size: 1.75rem;

            @media (max-width: 767.98px) { font-size: 1rem; }
          }
        }

        .next-icon,
        .prev-icon {
          position: absolute;
          top: 45%;
          transition: all ease-in-out 0.25s;
          z-index: 200;

          &:hover {
            cursor: pointer;
            transition: all ease-in-out 0.25s;

            i {
              color: #fff !important;
              transition: all ease-in-out 0.25s;
            }
          }
        }

        .prev-icon {
          left: 5px;
        }

        .next-icon {
          right: 5px;
        }
      }
    }

    .talks-list {
      .talk-item {
        border-color: transparent;
        margin-bottom: 1rem;
        transition: all ease-in-out 0.25s;

        &:hover {
          border: 2px dotted transparent;
          cursor: pointer;
          transition: all ease-in-out 0.25s;
        }

        a:hover {
          text-decoration: none;
        }

        .talk-details {
          position: relative;

          img {
            border-radius: 10px;
            width: 100%;
          }

          .overlay {
            background: rgba(0,0,0,0.6);
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }

          &.more-talks {
            align-items: center;
            background: rgba(0,0,0,0.6);
            border-radius: 10px;
            color: #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 10px;
            transition: all ease-in-out 0.25s;

            &:hover {
              background: rgba(0,0,0,0.9);
              transition: all ease-in-out 0.25s;
            }

            p {
              margin: 0;

              @media (max-width: 767.98px) { font-size: .86rem; }
            }
          }
        }
      }
    }
  }
}
