@import "./styles/generic.scss";

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: italic;
  font-weight: normal;
  src: url(./assets/fonts/AvenirNext/AvenirNextLTPro-It.otf) format('opentype');
}
