$primary: #e62b1f;

.events {
  .event-banner {
    background-attachment: fixed;
    background-image: url(./../../assets/images/carousel/carousel3.jpg);
    background-image: linear-gradient(to bottom right, rgba($primary,0.75), rgba($primary,0.1)),url(./../../assets/images/carousel/carousel3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem;
    position: relative;

    .overlay {
      background: rgba(0,0,0,.6);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    h3 {
      color: white;
      font-weight: bold;
      letter-spacing: .5rem;
      margin: 5rem auto;
      text-align: center;
    }
  }

  .event {
    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    .card {
      border-color: transparent;
      border-radius: .25rem;
      box-shadow: 0 5px 10px rgba(0,40,130,.15);
      transition: all .25s ease-in-out;

      &:hover {
        cursor: pointer;
        border-color: rgba($primary,.2);
        box-shadow: 0 5px 40px rgba(0,40,130,.25);
        transition: all .25s ease-in-out;
      }
    }
  }
}
